extends layout

block content
  article.article
    h2.article__title= post.title

    div.article__meta-list
      span.article__meta
        i.fa-solid.fa-calendar-day
        | #{dateTimeFormate(post.createdAt, false)}
      span.article__meta
        i.fa-solid.fa-tags
        a.article__meta-link(target="_blank", href=`/posts/?category=${post.category.slug}`)= post.category.title
        //- a.article__meta-link(href="/posts/?category=:cateSlug") Three,
        //- a.article__meta-link(href="/posts/?category=:cateSlug") Categories,
        //- a.article__meta-link(href="/posts/?category=:cateSlug") assigned
      

      a.article__meta.article__meta--link(href="#comments")
        i.fa-solid.fa-comments
        | #{`${post.commentCount} Comments`}
      

      a.article__meta.article__meta--link(target="_blank", href=`/posts/?author=${post.user.id}`)
        i.fa-solid.fa-user-pen
        | #{post.user.fullName}

    img.article__image(src=post.image)
    
    p.article__summary
      | #{post.content}

  div.comments
    h3.aside__section-title
    | #{`${post.commentCount} Comments`}

    if isLoggedIn
      form.comments__form.commentForm(data-post=post.id, method="POST")
        label.form__label(for="comment") Add Comment
        div.form__controller
          textarea.form__input(id="comment", name="comment", placeholder="Enter your comment here")
        button.button.button--primary--md Post

    ul.comments__list(id="comments")
      each comment in post.comments
        li.comments__item
          span.comments__item-comment
            img.comments__item-avatar(src=comment.user.avatar || "/web/images/man.png")
            span.comments__item-body
              span.comments__item-info
                span.comments__item-name= comment.user.fullName
                span.comments__item-time= comment.dateSince

              span.comments__item-content= comment.content 

              if isLoggedIn
                span.comments__item-actions
                  //- span.comments__item-action Like
                  span.comments__item-action.replyBtn Reply
                form.form__search.commentForm.form__controller.comments__reply-form(data-post=post.id, data-comment=comment.id, method="POST")
                  input.form__input(type="text", autocomplete="off", name="comment", placeholder=`Reply to ${comment.user.fullName}`)
                  button.form__button.comments__reply-btn Post
          if comment.replies.length > 0
            ul.comments__item-replies
              each reply in comment.replies
                li.comments__item.comments__item--reply
                  span.comments__item-comment
                    img.comments__item-avatar(src=reply.user.avatar || "/web/images/man.png")
                    span.comments__item-body
                      span.comments__item-info
                        span.comments__item-name= reply.user.fullName
                        span.comments__item-time= reply.dateSince
                      
                      span.comments__item-content= reply.content 
                      
                      //- span.comments__item-actions
                      //-   span.comments__item-action Like
                              
                        
                    
                
              
          
      
  
