extends ../layout

block content
    div.c-page
        div.c-page__head
            div
                h1.c-page__title User Profile
                p.c-page__description
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium beatae veniam voluptatibus asperiores libero
        div.c-page__body
            form.needs-validation(method="POST", enctype="multipart/form-data", novalidate)
                div.mb-3
                    label.form-label(for="image") User Image
                    input.form-control(type="file", id="image", accept="image/png, image/jpeg, image/jpg", name="avatar", placeholder="User Image")
                    div.invalid-feedback
                        | Please fill main image field

                div.mb-3.row
                    div.col-6
                        label.form-label(for="first_name") Firstname
                        input.form-control(
                            type="text",
                            id="first_name",
                            name="firstName",
                            placeholder="Firstname",
                            value=inputValues ? inputValues.firstName : user.firstName,
                            required
                        )
                        div.invalid-feedback
                            | Please fill first name field

                    div.col-6
                        label.form-label(for="last_name") Lastname
                        input.form-control(
                            type="text",
                            id="last_name",
                            name="lastName",
                            placeholder="Firstname",
                            value=inputValues ? inputValues.firstName : user.lastName,
                            required
                        )
                        div.invalid-feedback
                            | Please fill last name field

                div.mb-3.row
                    div.col-6
                        label.form-label(for="email") Email
                        input.form-control(
                            type="email",
                            id="email",
                            name="email",
                            placeholder="Email",
                            value=inputValues ? inputValues.firstName : user.email,
                            required
                        )
                        div.invalid-feedback
                            | Please fill email field

                    div.col-6
                        label.form-label(for="phoneNumber") Phone Number
                        input.form-control(
                            type="tel",
                            id="phoneNumber",
                            name="phoneNumber",
                            placeholder="Phone Number",
                            value=inputValues ? inputValues.firstName : user.phoneNumber
                        )

                div.mb-3
                    label.form-label(for="about") About
                    textarea.form-control(id="about", name="about", rows="3")= user.about

                hr

                div.mb-3.row
                    div.col-6
                        label.form-label(for="facebookUrl") Facebook Url
                        input.form-control(
                            type="url",
                            id="facebookUrl",
                            name="facebookUrl",
                            placeholder="Facebook Url",
                            value=inputValues ? inputValues.facebookUrl : user.facebookUrl,
                        )

                    div.col-6
                        label.form-label(for="instagramUrl") Instagram Url
                        input.form-control(
                            type="url",
                            id="instagramUrl",
                            name="instagramUrl",
                            placeholder="Instagram Url",
                            value=inputValues ? inputValues.instagramUrl : user.instagramUrl,
                        )
                div.mb-3.row
                    div.col-6
                        label.form-label(for="twitterUrl") Twitter Url
                        input.form-control(
                            type="url",
                            id="twitterUrl",
                            name="twitterUrl",
                            placeholder="Twitter Url",
                            value=inputValues ? inputValues.twitterUrl : user.twitterUrl,
                        )

                    div.col-6
                        label.form-label(for="linkedInUrl") LinkedIn Url
                        input.form-control(
                            type="url",
                            id="linkedInUrl",
                            name="linkedInUrl",
                            placeholder="LinkedIn Url",
                            value=inputValues ? inputValues.linkedInUrl : user.linkedInUrl,
                        )
                div.mb-3.row
                    div.col-6
                        label.form-label(for="githubUrl") Github Url
                        input.form-control(
                            type="url",
                            id="githubUrl",
                            name="githubUrl",
                            placeholder="Github Url",
                            value=inputValues ? inputValues.githubUrl : user.githubUrl,
                        )

                    div.col-6
                        label.form-label(for="youtubeUrl") Youtube Channel
                        input.form-control(
                            type="url",
                            id="youtubeUrl",
                            name="youtubeUrl",
                            placeholder="Youtube Channel Url",
                            value=inputValues ? inputValues.youtubeUrl : user.youtubeUrl,
                        )

                button.btn.btn-primary Update Info