extends ../layout

block content
    div.c-page
        div.c-page__head
            div
                h1.c-page__title Add New Tag
                p.c-page__description
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium beatae veniam voluptatibus asperiores libero

        div.c-page__body
            form.needs-validation(method="POST", novalidate)
                div.mb-3
                    label.form-label(for="title") Tag Title
                    input.form-control(
                        type="text",
                        id="title",
                        name="title",
                        placeholder="Tag Title",
                        value=inputValues && inputValues.title ? inputValues.title : tag ? tag.title: '',
                        required
                    )
                    div.invalid-feedback
                        | Please fill title field
        

                div.mb-3
                    label.form-label(for="slug") Tag Slug
                    input.form-control(
                        type="text",
                        id="slug",
                        name="slug",
                        value=inputValues && inputValues.slug ? inputValues.slug : tag ? tag.slug: '',
                        placeholder="CategTagory Slug"
                    )
                hr

                div.mb-3
                    label.form-label(for="status") Status
                    select.form-select(id="status", name="status")
                        option(value='published', selected=tag ? tag.status === 'published' : false) Publish
                        option(value='draft', selected=tag ? tag.status === 'draft' : false) Draft
                
                div.mb-3
                    label.form-label(for="publishedAt") Publish At
                    input.form-control(
                        type="datetime-local",
                        id="publishedAt",
                        name="publishedAt",
                        value=tag ? dateFormate(tag.publishedAt, true) : dateFormate(Date.now(), true),
                        placeholder="Tag published at"
                    )

                button.btn.btn-primary= tag ? 'Update Tag' : 'Add Tag'

                if tag
                    button.btn.btn-danger.mx-2(type="button", id="deleteBtn", data-id=tag.id, data-type="tags") Delete Tag