extends ../layout

block content
  div.c-page
    div.c-page__head
      div
        h1.c-page__title Tag List
        p.c-page__description
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium beatae veniam voluptatibus asperiores libero/p>

      a.btn.btn-primary(href="/dashboard/tags/create") Add New Tag
    div.c-page__body
      if tags.length > 0
        table.c-table
          thead.c-table__head
            tr
              th ID
              th Title
              th slug
              th Status
              th Author
              th Published At
              th Created At
              th Updated At
              th Actions
          tbody.c-table__body
            each tag in tags
              tr.c-table__row(class=`${tag.isPublished ? 'c-table__row--published' : 'c-table__row--draft'}`)
                td= tag.id
                td= tag.title
                td= tag.slug
                td= tag.isPublished ? 'Published' : 'Draft' 
                td= tag.user.firstName + ' ' + tag.user.lastName
                td= dateTimeFormate(tag.publishedAt) || '-'
                td= dateTimeFormate(tag.createdAt)
                td= dateTimeFormate(tag.updatedAt)
                td 
                  a.btn.btn-sm.btn-dark(href=`/dashboard/tags/${tag.id}/edit`) Manage
      else 
        h3 No tag has been created