extends layout

block content
  each post in posts
    article.article
      h2.article__title
        a.article__title-link(href=`/posts/${post.slug}`)= post.title

      div.article__meta-list
        span.article__meta
          i.fa-solid.fa-calendar-day
          | #{dateTimeFormate(post.createdAt, false)}
        if post.category
          span.article__meta
            i.fa-solid.fa-tags
            a.article__meta-link(target="_blank", href=`/posts/?category=${post.category.slug}`)= post.category.title
          //- a.article__meta-link(href="/posts/?category=:cateSlug") Three,
          //- a.article__meta-link(href="/posts/?category=:cateSlug") Categories,
          //- a.article__meta-link(href="/posts/?category=:cateSlug") assigned
        

        a.article__meta.article__meta--link(href=`/posts/${post.slug}/#comments`)
          i.fa-solid.fa-comments
          | #{`${post.commentCount} Comments`}
        

        a.article__meta.article__meta--link(target="_blank", href=`/posts/?author=${post.user.id}`)
          i.fa-solid.fa-user-pen
          | #{post.user.fullName}

      a.article__image-link(href=`/posts/${post.slug}`)
        img.article__image(src=post.image)
      
      p.article__summary= post.shortContent
      
      a.button.button--primary--md(href=`/posts/${post.slug}`)
        | READ MORE
        i.fa-solid.fa-arrow-right-long
    