extends layout

block content
  article.article
    h2.article__title= post.title

    div.article__meta-list
      span.article__meta
        i.fa-solid.fa-calendar-day
        | #{dateTimeFormate(post.createdAt, false)}
      span.article__meta
        i.fa-solid.fa-tags
        a.article__meta-link(target="_blank", href=`/posts/?category=${post.category.slug}`)= post.category.title
        //- a.article__meta-link(href="/posts/?category=:cateSlug") Three,
        //- a.article__meta-link(href="/posts/?category=:cateSlug") Categories,
        //- a.article__meta-link(href="/posts/?category=:cateSlug") assigned
      

      a.article__meta.article__meta--link(href="#comments")
        i.fa-solid.fa-comments
        | #{`${post.commentCount} Comments`}
      

      a.article__meta.article__meta--link(target="_blank", href=`/posts/?author=${post.user.id}`)
        i.fa-solid.fa-user-pen
        | #{post.user.fullName}

    div.article__image-link
      img.article__image(src=post.image)
    
    p.article__summary
      | #{post.content}

  div.comments
    h3.aside__section-title
    | #{`${post.commentCount} Comments`}
    form.comments__form(action="/posts/1/comment", method="POST")
      label.form__label(for="comment") Add Comment
      div.form__controller
        textarea.form__input(id="comment", name="comment", placeholder="Enter your comment here")
      button.button.button--primary--md Post

    ul.comments__list
      li.comments__item
        span.comments__item-comment
          img.comments__item-avatar(src="/web/images/man.png")
          span.comments__item-body
            span.comments__item-info
              span.comments__item-name Tony Stark
              span.comments__item-time 3 hrs ago

            span.comments__item-content
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus quibusdam voluptatibus quisquam dolorum doloremque quidem eligendi dignissimos soluta cum voluptates vitae mollitia, sapiente autem ex voluptas ab accusantium pariatur!

            span.comments__item-actions
              span.comments__item-action Like
              span.comments__item-action Reply
            form.form__search.form__controller.comments__reply-form(action="/posts/1/comment?reply=clientId",method="POST")
              input.form__input(type="text", autocomplete="off", name="comment", placeholder="Reply to {Tony Stark}")
              button.form__button.comments__reply-btn Post

        ul.comments__item-replies
          li.comments__item.comments__item--reply
            span.comments__item-comment
              img.comments__item-avatar(src="/web/images/man.png")
              span.comments__item-body
                span.comments__item-info
                  span.comments__item-name Tony Stark
                  span.comments__item-time 3 hrs ago
                
                span.comments__item-content
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus quibusdam voluptatibus quisquam dolorum doloremque quidem eligendi dignissimos soluta cum voluptates vitae mollitia, sapiente autem ex voluptas ab accusantium pariatur!
                  
                span.comments__item-actions
                  span.comments__item-action Like
                            
                        
                    
                
              
          
      
  
