aside.grid__sidebar.aside
    div.search__container
        form.form__search.form__controller(action="/posts/", method="GET")
            input.form__input(type="text", autocomplete="off", name="search", placeholder="Search ...")
            button.form__button
                i.fa-solid.fa-magnifying-glass
        ul.search__autocomplete
            li
                a.search__autocomplete-item(href="/posts/:slug")
                    img.search__autocomplete-img(src="/web/images/logo.png")
                    span.search__autocomplete-title
                        span.search__autocomplete-title Post Name
                        span.search__autocomplete-author
                            i.fa-solid.fa-user-pen
                            | firstName lastName
                    i.search__autocomplete-more.fa-solid.fa-arrow-right-long
    if post && post.user
        section.aside__section
            h3.aside__section-title
                | ABOUT #{post.user.fullName}
            img.aside__author-img(src=post.user.avatar || "/web/images/man.png", alt=post.user.fullName)
            p.aside__author-about= post.user.about
                
    else if owner
        section.aside__section
            h3.aside__section-title
                | ABOUT #{owner.fullName}
            img.aside__author-img(src=owner.avatar || "/web/images/man.png", alt=owner.fullName)
            p.aside__author-about= owner.about

    section.aside__section
        h3.aside__section-title
            | SUBSCRIBE & FOLLOW
        ul.social-media__list
            if owner
                if owner.facebookUrl
                    li.social-media__item
                        a.social-media__link(href=owner.facebookUrl, target="_blank")
                            i.fa-brands.fa-facebook-f

                if owner.twitterUrl
                    li.social-media__item
                        a.social-media__link(href=owner.twitterUrl, target="_blank")
                            i.fa-brands.fa-twitter
                
                if owner.instagramUrl
                    li.social-media__item
                        a.social-media__link(href=owner.instagramUrl, target="_blank")
                            i.fa-brands.fa-instagram 
                
                if owner.githubUrl
                    li.social-media__item
                        a.social-media__link(href=owner.githubUrl, target="_blank")
                            i.fa-brands.fa-github

                if owner.youtubeUrl
                    li.social-media__item
                        a.social-media__link(href=owner.youtubeUrl, target="_blank")
                            i.fa-brands.fa-youtube

            else if post && post.user
                if post.user.facebookUrl
                    li.social-media__item
                        a.social-media__link(href=post.user.facebookUrl, target="_blank")
                            i.fa-brands.fa-facebook-f

                if post.user.twitterUrl
                    li.social-media__item
                        a.social-media__link(href=post.user.twitterUrl, target="_blank")
                            i.fa-brands.fa-twitter
                
                if post.user.instagramUrl
                    li.social-media__item
                        a.social-media__link(href=post.user.instagramUrl, target="_blank")
                            i.fa-brands.fa-instagram 
                
                if post.user.githubUrl
                    li.social-media__item
                        a.social-media__link(href=post.user.githubUrl, target="_blank")
                            i.fa-brands.fa-github

                if post.user.youtubeUrl
                    li.social-media__item
                        a.social-media__link(href=post.user.youtubeUrl, target="_blank")
                            i.fa-brands.fa-youtube

    if categories.length > 0
        section.aside__section
            h3.aside__section-title Categories
            ul.aside__list
                each category in categories
                    li
                        a.aside__list-item(href=`/posts/?category=${category.slug}`)= category.title
                            span.aside__list-badge (#{category.postCount})
                                
                            
                        
                    
                